body {
    font-family: Raleway;
    background-color: #202020;
    color: white;
    text-align: center;
}

canvas {
    display: block;
    margin: 5px auto;
    width: 75%;
}

#button,#info {
    background-color: #202020;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #202020;
    
}

#button:hover {
    color: red;
}
#button.canBuy:hover {
    color: greenyellow;
}
#button:hover a {
    color: white;
}
#button.canBuy a.costinfo {
    color: greenyellow;
}
#button.cantBuy a.costinfo {
    color: red;
}

#buttons {
    font-size: medium;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#buttons a {
    background: #3e3e3e;
    padding: 0.25em;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: blueviolet;
}

a:link:hover,a:visited:hover {
    color: lime;
}